<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Receipt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h3><a href="{{ url_for('show_receipts')}}">View Receipts</a></h3>
    <h1 style="text-align: center;">Upload Receipt</h1>
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <!-- Updated accept attribute to allow image files and PDFs -->
        <input type="file" name="files" accept="image/*,.pdf" multiple>
        <button class="center" type="submit">Upload</button>
    </form>
    <!-- <div style="text-align: center; width:80%;">
        <a href="{{ url_for('show_receipts') }}">View Receipts</a>
    </div> -->
</body>
</html>